html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 75vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.form-row {
	margin-left: 15px !important; 
	margin-right: 15px !important;
}

table.dataTable thead .sorting_asc::after {
	font-family: 'FontAwesome' !important;
  	content: '\f160' !important;
}

table.dataTable thead .sorting_desc::after {
	font-family: 'FontAwesome' !important;
  	content: '\f161' !important;
}

table.dataTable thead .sorting::after {
	font-family: 'FontAwesome' !important;
    opacity: 0.2 !important;
    content: "\f0dc" !important;
}